*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 20px;
	text-align: center;
	font-family: Helvetica, sans-serif;
	display:grid;
}

header h1{
	margin: 0 auto;
	width: 400px;
}

#contentGrid{
	display: grid;
	width: 100%;
	height: 1000px;
	grid-template: 200px 800px / 3fr 1fr;
	border-radius: 4%;
	background-color: rgb(241, 248, 255);
}

#accessKeyTextBox{
	border-radius: 10px;
	overflow: visible !important;
	visibility: inherit;
}

#accessKeyButton:hover{
	cursor:pointer;
}

